APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:ecVdJJzkcNwB7WSmeUOWCmBik1mmVtBRZyiUblQa3Wc=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel_and_react_gemini
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=log
# Looking to send emails in production? Check out our Email API/SMTP product!
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=e21e5c8c980a72
MAIL_PASSWORD=f8ceda7a0b80fc
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"


RAZORPAY_KEY=rzp_test_SIRA3SP2Y6SQbk
RAZORPAY_SECRET=1B0LBlLur4lcFa104ZeNhi81


TWILIO_SID=ACf3121da0b594c14e4b8cfa34f2b94196
TWILIO_TOKEN=your_actual_token_here
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886